<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>게시판</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet">

</head>



<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <custom-sidebar></custom-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->

            <custom-topbar th:attr="data-nickname=${nickname}, data-profile-image=${memberProfileImage}"></custom-topbar>
            <!-- TopBar End -->
            <!-- container fluid -->
            <div class="container-fluid">
                <div class="row mt-3">
                    <form action="/board/list" method="get">
                        <div class="col">
                            <input type="hidden" name="size" value="10">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button type="button" class="border-0" style="margin-right: 5px;"
                                            data-toggle="modal" data-target="#boardCreateModal">
                                        <img src="/img/plus.svg"
                                             style="width: auto; height: calc(1.5em + 0.75rem + 2px);" alt="글작성"/>
                                    </button>
                                    <custom-board-create-modal th:attr="data-nickname=${nickname}, data-profile-image=${memberProfileImage}"></custom-board-create-modal>
                                </div>
                                <div class="input-group-prepend">
                                    <select class="form-select border rounded mr-1" name="type">
                                        <option value="">---</option>
                                        <option value="t">제목</option>
                                        <option value="c">내용</option>
                                        <option value="w">작성자</option>
                                        <option value="tc">제목 내용</option>
                                        <option value="tcw">제목 내용 작성자</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control rounded" name="keyword">
                                <div class="input-group-append">
                                    <!-- <button class="btn text-bg-danger" type="submit">Search</button>
                          <button class="btn btn-secondary" type="button">Clear</button> -->
                                    <button type="submit" class="btn btn-success rounded font-weight-bolder mx-1"
                                    >검색</button>
                                    <button type="button" class="btn btn-dark rounded font-weight-bolder"
                                    >지우기</button>
                                    <!-- <button type="button" class="btn btn-primary rounded font-weight-bolder"
                                        type="button">지우기</button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Board List
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Board List </h5>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Bno</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Writer</th>
                                        <th scope="col">RegDate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="/board/read(bno=1)">Title 1</a>
                                            <span class="badge progress-bar-success border"
                                            >10</span>
                                        </td>
                                        <td>User 1</td>
                                        <td>2024-05-01</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="/board/read(bno=1)">Title 1</a>
                                            <span class="badge progress-bar-success border"
                                            >10</span>
                                        </td>
                                        <td>User 1</td>
                                        <td>2024-05-01</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="/board/read(bno=1)">Title 1</a>
                                            <span class="badge progress-bar-success border"
                                            >10</span>
                                        </td>
                                        <td>User 1</td>
                                        <td>2024-05-01</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="/board/read(bno=1)">Title 1</a>
                                            <span class="badge progress-bar-success border"
                                            >10</span>
                                        </td>
                                        <td>User 1</td>
                                        <td>2024-05-01</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="/board/read(bno=1)">Title 1</a>
                                            <span class="badge progress-bar-success text-black border"
                                            >10</span>
                                        </td>
                                        <td>User 1</td>
                                        <td>2024-05-01</td>
                                    </tr>

                                    <!-- Other rows go here -->
                                    </tbody>
                                </table>
                                <div class="float-end">
                                    <ul class="pagination flex-wrap">
                                        <li class="page-item">
                                            <a class="page-link" data-num="0">이전</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" data-num="1">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" data-num="2">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" data-num="1">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" data-num="1">4</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" data-num="1">5</a>
                                        </li>
                                        <!-- Other page links go here -->
                                        <li class="page-item">
                                            <a class="page-link" data-num="2">다음</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--end card body-->
                        </div><!--end card-->
                    </div><!-- end col-->
                </div><!-- end row-->

                <div class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Modal body text goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Page Wrapper -->

            <custom-setting-modal></custom-setting-modal>
            <custom-scroll-top-btn></custom-scroll-top-btn>
        </div>
    </div>
</div>


<!-- sidebar & topbar & 스크롤 컴포넌트화 -->
<script src="/js/component/sidebar.js"></script>
<script src="/js/component/topbar.js"></script>
<script src="/js/component/scrollTopButton.js"></script>
<!-- PopupComponent -->
<script src="/js/component/boardCreateModal.js"></script>
<script src="/js/component/studyCreateModal.js"></script>
<script src="/js/component/studyInfoModal.js"></script>
<script src="/js/component/userDropModal.js"></script>
<script src="/js/component/userSettingModal.js"></script>

<!-- 부트스트랩 JS (팝업을 위해 필요) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script> -->

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<!-- <script src="vendor/chart.js/Chart.min.js"></script> -->

<!-- Page level custom scripts -->
<!-- <script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script> -->

</body>

</html>