<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>게시판</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- Cropper.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <!-- Cropper.js JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <custom-sidebar></custom-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <custom-topbar th:attr="data-nickname=${nickname}, data-profile-image=${memberProfileImage}"></custom-topbar>
            <!-- TopBar End -->
            <!-- container fluid -->
            <div class="container-fluid">
                <div class="row mt-3">
                        <div class="col">
                            <input type="hidden" name="size" value="10">
                            <div class="input-group">
                                <!--게시글 작성 버튼-->
                                <div class="input-group-append">
                                    <button type="button" class="border-0" style="margin-right: 5px;"
                                            data-toggle="modal" data-target="#boardCreateModal">
                                        <img src="/img/plus.svg"
                                             style="width: auto; height: calc(1.5em + 0.75rem + 2px);" alt="글작성"/>
                                    </button>
                                    <!-- Modal for Board Create -->
                                    <custom-board-create-modal th:attr="data-nickname=${nickname}, data-email=${email}, data-profile-image=${memberProfileImage}"></custom-board-create-modal>
                                </div>
                                <!--게시글 검색-->
                                <div class="input-group-prepend">
                                    <select class="form-select border rounded mr-1" name="type">
                                        <option value="">---</option>
                                        <option value="t">제목</option>
                                        <option value="c">내용</option>
                                        <option value="n">작성자</option>
                                        <option value="tc">제목 내용</option>
                                        <option value="tcn">제목 내용 작성자</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control rounded" name="keyword">
                                <div class="input-group-append">
                                    <button id="searchBtn" type="button" class="btn btn-success rounded font-weight-bolder mx-1">검색</button>
                                </div>
                            </div>
                        </div>

                </div>

                <!-- 게시판 목록 -->
                <div id="boardSearch" class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
<!--                                <h5 class="card-title">Board List</h5>-->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Bno</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Writer</th>
                                        <th scope="col">RegDate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="board : ${boards}">
                                        <td th:text="${board.bno}">1</td>
                                        <td>
                                            <a data-toggle="modal" th:id="'#boardReadModal-' + ${board.bno}"
                                               th:data-target="'#boardReadModal-' + ${board.bno}"
                                               th:href="@{/board/read(bno=${board.bno})}"
                                               th:text="${board.boardTitle}">Title 1</a>
                                            <custom-board-read-modal th:attr="board.bno=${board.bno}, board.boardTitle=${board.boardTitle},
                                        board.boardContent=${board.boardContent}, board.email=${board.email}, board.nickname=${board.nickname}, member.memberProfileImage=${memberProfileImage},
                                         board.regDate=${#temporals.format(board.regDate, 'yyyy-MM-dd')}, board.modDate=${#temporals.format(board.modDate, 'yyyy-MM-dd')},
                                          data-email=${email}"></custom-board-read-modal>
<!--                                            <custom-board-modify-modal></custom-board-modify-modal>-->
                                        </td>
                                        <td th:text="${board.nickname}">User 1</td>
                                        <td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd')}">2024-05-01</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="float-end">
                                    <ul class="pagination flex-wrap">
                                        <li class="page-item" th:if="${currentPage > 0}">
                                            <a class="page-link" th:href="@{/board(page=${currentPage - 1}, size=${10})}">이전</a>
                                        </li>
                                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                            <a class="page-link" th:href="@{/board(page=${i}, size=${10})}" th:text="${i+1}">1</a>
                                        </li>
                                        <li class="page-item" th:if="${currentPage < totalPages - 1}">
                                            <a class="page-link" th:href="@{/board(page=${currentPage + 1}, size=${10})}">다음</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div><!-- end row -->





                <!-- 설정 모달 -->
                <custom-setting-modal></custom-setting-modal>
                <!-- 스크롤 탑 버튼 -->
                <custom-scroll-top-btn></custom-scroll-top-btn>
            </div><!-- end container-fluid -->
        </div><!-- end content -->
    </div><!-- end content-wrapper -->
</div><!-- end wrapper -->

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- 부트스트랩 JS (팝업을 위해 필요) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script> -->



<!-- Page level plugins -->
<!-- <script src="vendor/chart.js/Chart.min.js"></script> -->

<!-- Page level custom scripts -->
<!-- <script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script> -->

<script src="/js/board.js"></script>

<!-- sidebar & topbar & 스크롤 컴포넌트화 -->
<script src="/js/component/sidebar.js"></script>
<script src="/js/component/topbar.js"></script>
<script src="/js/component/scrollTopButton.js"></script>
<!-- PopupComponent -->
<script src="/js/component/boardReadModal.js"></script>
<script src="/js/component/boardCreateModal.js"></script>
<script src="/js/component/studyCreateModal.js"></script>
<script src="/js/component/studyInfoModal.js"></script>
<script src="/js/component/userDropModal.js"></script>
<script src="/js/component/userSettingModal.js"></script>





</body>

</html>
