<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>대시보드</title>

    <!-- Custom fonts for this template-->
    <link
            th:href="@{vendor/fontawesome-free/css/all.min.css}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet"/>

</head>
<style>
    #todolistContainer {
        right: -100%;
        z-index: 1;
        transition: right 0.5s ease-in;
    }

    #todolistContainer.show {
        right: 5%;
        transition: right 0.5s ease-out;
    }
</style>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <custom-sidebar></custom-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <custom-topbar
                    th:attr="data-nickname=${nickname}, data-profile-image=${memberProfileImage}"></custom-topbar>
            <!-- TopBar End -->
            <!-- container fluid -->
            <div class="container-fluid">

                <div class="row justify-content-center gap-3 h-600 ">
                    <!-- 캘린더 -->
                    <div id="calendar"
                         class="col-lg-8 bg-white p-3 rounded fc fc-media-screen fc-direction-ltr fc-theme-standard"></div>
                    <!-- 캘린더 end-->
                    <div class="col-auto">
                        <button id="todolistPopup" class="btn border btn-facebook shadow-lg p-3 mb-5 ">👈TodoList
                        </button>
                    </div>


                    <div id="todolistContainer" class="row position-absolute col-lg-6 col-md-6 col-sm-3 fade d-none">
                        <!--                    todoList Start -->
                        <div class="bg-white shadow-lg rounded" id="todolist">
                            <div class="row justify-content-center">
                                <h4 class="h4 p-4 col">TodoList</h4>
                                <h4 class="h4 p-4 col-auto">
                                    <button type="button" id="todolistExit" class="btn btn-danger col-auto">X</button>
                                </h4>
                            </div>
                            <form>
                                <label class="row justify-content-between gap-3 m-2">
                                    <input class="col col-form-label form-control" type="text"
                                           placeholder="할 일 입력" name="todoTitle" id="todoTitle">
                                    <button class="btn btn-facebook col-auto" onclick="submitTodo(event)">+</button>
                                </label>
                                <label class="row justify-content-center gap-5">
                                    <input type="date" class="col-lg-4 col-sm-3 col-md-3  form-control input-group"
                                           name="startDate" id="startDate">~
                                    <input type="date" class="col-lg-4 col-sm-3 col-md-3 form-control input-group"
                                           name="endDate" id="endDate">
                                </label>
                                <hr class="border border-dark">
                            </form>
                            <ul class="nav nav-tabs" id="todoTabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="all-tab" onclick="showAllTodos()"
                                            data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab"
                                            aria-controls="all" aria-selected="true">할 일
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="completed-tab" onclick="showCompletedTodos()"
                                            data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab"
                                            aria-controls="completed" aria-selected="false">완료 목록
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pending-tab" onclick="showDeletedTodos()"
                                            data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab"
                                            aria-controls="pending" aria-selected="false">삭제 목록
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="todoTabsContent">
                                <div class="tab-pane fade show active" id="allTodo" role="tabpanel"
                                     aria-labelledby="all-tab">
                                    <ul class="list-group" id="todoListing">
                                        <!-- All todos will be listed here -->
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="completedTodo" role="tabpanel"
                                     aria-labelledby="completed-tab">
                                    <ul class="list-group" id="todoListCompleted">
                                        <!-- Completed todos will be listed here -->
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="deleteTodo" role="tabpanel"
                                     aria-labelledby="pending-tab">
                                    <ul class="list-group" id="todoListDeleted">
                                        <!-- Pending todos will be listed here -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                <button type="button" class="btn-facebook" data-target="#todoListModal" data-toggle="modal">+</button>-->
            </div> <!--row end -->
            <custom-todo-list></custom-todo-list>
            <!-- End of Page Wrapper -->
            <custom-setting-modal></custom-setting-modal>
            <custom-scroll-top-btn></custom-scroll-top-btn>
        </div>
    </div>
</div>
<script th:inline="javascript"> //todolist script
// const email = "[[${email}]]";
let email = `[[${email}]]`;
let cTodos = [];
let calenderJson = [];
email = email.replace(/"/g, '');



// todo button onclick Event
function submitTodo(e) {
    e.preventDefault(); //새로고침 방지
    const todoTitle = document.getElementById("todoTitle").value;
    const startDate = document.getElementById("startDate").value;
    const endDate = document.getElementById("endDate").value;

    if ((todoTitle == null || startDate == null || endDate == null) || (todoTitle === "" || startDate === "" || endDate === "")) {
        alert("내용과 날짜를 모두 입력해주세요.");
        return;
    } else if (new Date(startDate) > new Date(endDate)) {
        alert("시작 날짜는 종료 날짜보다 이후일 수 없습니다.")
        return;
    }

    // if (todoTitle)
    alert("할 일 리스트에 업로드 되었습니다.");


    fetch('/api/todolists', {
        method: 'POST',
        headers: {'Content-Type': "application/json"},
        body: JSON.stringify({
            todolistContent: todoTitle,
            todoStartDate: startDate,
            todoEndDate: endDate,
            memberEmail: email

        })
    })
        .then(response => response.json())// json형식으로 응답 받음
        .then(data => {
            addTodoList(data);
            //입력값 초기화
            document.getElementById('todoTitle').value = '';
            document.getElementById('startDate').value = '';
            document.getElementById('endDate').value = '';

            fetchAllTodos();
        })
        .catch(error => {
            console.error("Error :", error);
        });
}

// add todo
function addTodoList(todo) {
    const todoList = document.getElementById('todoListing');
    const listItem = document.createElement('li');

    listItem.className = 'justify-content-between m-1 row shadow p-3 mb-2 bg-body rounded';
    listItem.setAttribute('id', `todo-${todo.toNo}`);
    listItem.innerHTML = `
                            <div class="col">
                                <strong class="row">${todo.todolistContent}</strong>
                                <div class="row">${todo.todoStartDate} ~ ${todo.todoEndDate}</div>
                            </div>
                            <div class="col-auto">
                                <button id="todoComplete" name="${todo.toNo}" onclick="isCompletedTrue(${todo.toNo})" class="col btn btn-info mb-1">V</button>
                                <button id="todoDelete" name="${todo.toNo}" onclick="isDeletedTrue(${todo.toNo})" class="col btn btn-danger mt-1">X</button>
                            </div>`;
    todoList.appendChild(listItem);
}


// 삭제 요청
// function deleteTodo(toNo) {
//     fetch(`/api/todolists/${toNo}`, {
//         method: 'DELETE',
//         headers: {'Content-Type': 'application/json'}
//     })
//         // .then(response => response.json())
//         .then(() => {
//             // 삭제된 항목을 목록에서 제거
//             const todoItem = document.getElementById(`todo-${toNo}`);
//             if (todoItem) {
//                 todoItem.remove();
//                 fetchAllTodos();
//             }
//         })
//         .catch(error => console.error("Error : " + error));
// }
// 삭제 요청
function isDeletedTrue(toNo) {
    fetch(`/api/todolists/delete/${toNo}`, {
        method: 'PATCH',
        headers: {'Content-Type': 'application/json'}
    })
        // .then(response => response.json())
        .then(() => {
            alert('Todo marked as deleted!');
            // `allTodo` 탭에서 해당 항목을 숨깁니다.
            const todoItem = document.querySelector(`#todo-${toNo}`);
            if (todoItem && document.querySelector('#allTodo').contains(todoItem)) {
                todoItem.style.display = 'none'; // 혹은 todoItem.remove()로 완전히 제거
            }
            // `deleteTodo` 탭에 항목 추가
            const deletedList = document.getElementById('todoListDeleted');
            if (deletedList && todoItem) {
                const newItem = todoItem.cloneNode(true);
                newItem.style.display = 'flex'; // 항목을 다시 보이게 합니다
                deletedList.appendChild(newItem);
            }
            fetchAllTodos();

        })
        .catch(error => console.error("Error : " + error));
}

// 완료 요청
function isCompletedTrue(toNo) {
    fetch(`/api/todolists/completed/${toNo}`, {
        method: 'PATCH',
        headers: {'Content-Type': 'application/json'}
    })
        // .then(response => response.json())
        .then(() => {
            alert('Todo marked as completed!');
            // `allTodo` 탭에서 해당 항목을 숨깁니다.
            const todoItem = document.querySelector(`#todo-${toNo}`);
            if (todoItem && document.querySelector('#allTodo').contains(todoItem)) {
                todoItem.style.display = 'none'; // 혹은 todoItem.remove()로 완전히 제거
            }
            // `completedTodo` 탭에 항목 추가
            const completedList = document.getElementById('todoListCompleted');
            if (completedList && todoItem) {
                const newItem = todoItem.cloneNode(true);
                newItem.style.display = 'flex'; // 항목을 다시 보이게 합니다
                completedList.appendChild(newItem);
            }
            fetchAllTodos();
        })
        .catch(error => console.error("Error : " + error));
}

function addTodoItemToList(listElement, todo) {
    const listItem = document.createElement('li');
    listItem.className = 'justify-content-between m-1 row shadow p-3 mb-2 bg-body rounded';
    listItem.setAttribute('id', `todo-${todo.toNo}`);
    listItem.innerHTML = `
        <div class="col">
            <strong class="row">${todo.todolistContent}</strong>
            <div class="row">${todo.todoStartDate} ~ ${todo.todoEndDate}</div>
        </div>
        <div class="col-auto" style="display: ${listElement.id === 'todoListing' ? 'block' : 'none'};">
            <button id="todoComplete-${todo.toNo}" class="col btn btn-info mb-1">V</button>
            <button id="todoDelete-${todo.toNo}" class="col btn btn-danger mt-1">X</button>
        </div>
      `;
    // 이벤트 리스너 추가, 버튼이 실제로 표시될 때만
    if (listElement.id === 'todoListing') {
        const completeButton = listItem.querySelector(`#todoComplete-${todo.toNo}`);
        completeButton.addEventListener('click', () => isCompletedTrue(todo.toNo));

        const deleteButton = listItem.querySelector(`#todoDelete-${todo.toNo}`);
        deleteButton.addEventListener('click', () => isDeletedTrue(todo.toNo));
    }

    listElement.appendChild(listItem);
}


// 할 일 전체 목록을 가져와서 표시하는 함수
function showAllTodos() {
    fetch('/api/todolists', {method: 'GET', headers: {'Content-Type': 'application/json'}})
        .then(response => response.json())
        .then(todos => {
            const todoListing = document.getElementById('todoListing');
            todoListing.innerHTML = '';
            todos.forEach(todo => addTodoItemToList(todoListing, todo));
            setActiveTab('allTodo');
        })
        .catch(error => console.error('Error:', error));
}

// 삭제된 할 일 목록을 가져와서 표시하는 함수
function showDeletedTodos() {
    fetch('/api/todolists/deleted', {method: 'GET', headers: {'Content-Type': 'application/json'}})
        .then(response => response.json())
        .then(data => {
            const todoListDeleted = document.getElementById('todoListDeleted');
            todoListDeleted.innerHTML = '';
            data.forEach(todo => addTodoItemToList(todoListDeleted, todo));
            setActiveTab('deleteTodo');
        })
        .catch(error => console.error('Error:', error));
}

//완료 목록 탭 눌렀을 때
function showCompletedTodos() {
    fetch('/api/todolists/completed', {
        method: 'GET',
        headers: {'Content-Type': 'application/json'}
    })
        .then(response => response.json())
        .then(data => {
            const todoListCompleted = document.getElementById('todoListCompleted');
            todoListCompleted.innerHTML = '';
            data.forEach(todo => addTodoItemToList(todoListCompleted, todo));
            setActiveTab('completedTodo');
        })
        .catch(error => console.error('Error:', error));
}


document.addEventListener("DOMContentLoaded", () => {

    Promise.all([fetchAllTodos(), fetchAllMyStudy()])
        .then(() => {
            calendars(calenderJson);  // 모든 데이터 로드 후 캘린더 렌더링
            fetchAllTodos();  // 모든 할 일을 가져옴
            showAllTodos();   // 첫 탭을 초기화
            showCompletedTodos();  // 완료된 할 일을 초기화
            showDeletedTodos();  // 삭제된 할 일을 초기화
            fetchAllMyStudy();
        })
        .catch(error => {
            console.error('Error loading all data:', error);
        });

});

// ALL Todo List View
function fetchAllTodos() {
    return new Promise((resolve, reject) => {
        fetch(`/api/todolists`, {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(todos => {
                const todoList = document.getElementById('todoListing');
                todoList.innerHTML = '';

                todos.forEach(addTodoList);

                const cTodos = todos.map(data => {
                    let endDate = new Date(data.todoEndDate);
                    endDate.setDate(endDate.getDate() + 1); // Adjust end date by +1 day
                    return {
                        title: data.todolistContent,
                        start: data.todoStartDate,
                        end: endDate.toISOString().split('T')[0], // Format back to 'YYYY-MM-DD'
                        backgroundColor: '#ffb480',
                        borderColor: '#ffb480'
                    };
                });
                Array.prototype.push.apply(calenderJson, cTodos);
                resolve();
            })
            .catch(error => {
                console.error("Error :", error);
                reject(error);
            });
    });
}

function fetchAllMyStudy() {
    return new Promise((resolve, reject) => {
        fetch(`/api/todolists/tasks/${email}`, {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(todos => {
                const cTodos = todos.map(data => {
                    return {
                        title: data.study.studyName,
                        start: data.study.firstDate,
                        end: data.study.stEndDate, // Format back to 'YYYY-MM-DD'
                        backgroundColor: '#9d94ff',
                        borderColor: '#9d94ff'
                    };
                });

                Array.prototype.push.apply(calenderJson, cTodos);
                resolve();
            })
            .catch(error => {
                console.error("Error :", error);
                reject(error);
            })
    });
}

// 캘린더 생성
function calendars(event) {
    const calendarEl = document.getElementById("calendar");
    let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        events: event
    });
    calendar.render();
}

// 탭이 변경될 때 호출되는 함수
function setActiveTab(tabName) {
    // 모든 탭 컨텐츠를 숨깁니다
    const tabs = document.querySelectorAll('.tab-pane');

    tabs.forEach(tab => {
        tab.classList.remove('show');
        tab.classList.remove('active');
    });

    // 지정된 탭만 활성화합니다
    const activeTab = document.getElementById(tabName);
    activeTab.classList.add('show');
    activeTab.classList.add('active');
}
</script>
<script>
    //timeout many click Exception
    let todolistPopupTimeout, todolistExitTimeout;

    document.getElementById("todolistPopup").addEventListener("click", (event) => {
        const todolistContainer = document.getElementById("todolistContainer");
        event.stopPropagation(); // 이벤트 전파 중지
        clearTimeout(todolistExitTimeout);
        todolistContainer.classList.remove("fade", "d-none");
        todolistPopupTimeout = setTimeout(() => {
            todolistContainer.classList.add("show");
        }, 0);
    });
    document.getElementById("todolistExit").addEventListener("click", () => {
        const todolistContainer = document.getElementById("todolistContainer");
        clearTimeout(todolistPopupTimeout);
        todolistExitTimeout = setTimeout(() => {
            todolistContainer.classList.remove("show");
        }, 0);
        todolistExitTimeout = setTimeout(() => {
            todolistContainer.classList.add("fade", "d-none");
        }, 600);


    });

    document.addEventListener("click", (event) => {
        const todolistContainer = document.getElementById("todolistContainer");
        const isClickInside = todolistContainer.contains(event.target);

        if (!isClickInside) {
            // 클릭이 TodoList 컨테이너 외부에서 발생했을 경우
            clearTimeout(todolistPopupTimeout);
            todolistExitTimeout = setTimeout(() => {
                todolistContainer.classList.remove("show");
            }, 0);
            todolistExitTimeout = setTimeout(() => {
                todolistContainer.classList.add("fade", "d-none");
            }, 600);
        }
    });

</script>

<!-- sidebar & topbar & 스크롤 컴포넌트화 -->
<script th:src="@{js/component/sidebar.js}"></script>
<script th:src="@{js/component/topbar.js}"></script>
<script th:src="@{js/component/scrollTopButton.js}"></script>
<!-- PopupComponent -->
<script th:src="@{js/component/studyCreateModal.js}"></script>
<script th:src="@{js/component/studyInfoModal.js}"></script>
<script th:src="@{js/component/userDropModal.js}"></script>
<script th:src="@{js/component/userSettingModal.js}"></script>
<script th:src="@{js/component/todoList.js}"></script>
<!-- 캘린더 -->
<script th:src="@{js/index.global.js}"></script>

<!-- 부트스트랩 JS (팝업을 위해 필요) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin-2.min.js}"></script>


</body>
</html>
