<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>




<h1>Main Page</h1>

<div>
    <p>Nickname: <span th:text="${nickname}"></span></p>
    <p>Email: <span th:text="${email}"></span></p>
    <img th:src="${memberProfileImage}" alt="Profile Image"/>
</div>
<div><a href="/board">게시판으로</a></div>
<div>
    <a href="/logout">로그아웃</a>
</div>

<div>
    <!-- 회원 탈퇴 링크 추가 -->
    <form action="/delete-account" method="post">
        <!-- 여기에 다른 입력 필드가 있을 수 있습니다. -->
        <button type="submit">계정 삭제</button>
    </form>
</div>



</body>
</html>
